<!DOCTYPE html>
<html lang="es-ar"><!--indica que la página se presenta en español adaptado para Argentina-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!--Por si alguien usa Explorer: pide que use la versión más reciente del motor de renderizado disponible para mostrar la página-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Que vamos a comer</title>
    <link rel="stylesheet" href="./CSS/css_Index.css">
</head>
<body>    
    <header class="header"><!--Encabezado de la pagina-->
        <div class="logo">
            <img src="Imagenes/logo de prueba.png" alt="Logo de la app Que vamos a comer">
        </div>
        <nav>
            <!--aca se agrega los enlaces a diferentes secciones de web-->
            <ul class="nav-links">
                <li><a href="Paginas/NuestraEmpresa.html">Nuestra Empresa</a></li>
                <li><a href="Paginas/Contactos.html">Contactos</a></li>
                <li><a href="{% url 'registro' %}">Registrarme</a></li>
                <li><a href="{% url 'login' %}">Loguearme</a></li>
                 
            </ul>
        </nav>
    </header>
    <main><!--texto principal-->
        <h1>Que vamos a comer</h1>
        <section>
            <article>
                
            </article>
            <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores odio dolor voluptate ex dolorem ut pariatur velit sunt molestiae saepe rem ipsum sint iste, corporis eveniet illo maiores modi doloremque.
            </article>
        </section>

    </main>
    
    <footer><!--pie de pagina-->

    </footer><!--este es el final de pagina-->
</body>
</html>